<div class="flex flex-col">
  <section class="w-full min-h-48 md:min-h-80">
  </section>
  <section class="w-full min-h-80 px-10 pt-8 flex flex-col">

    <p class="text-center text-xl md:text-2xl tracking-wider">
      Hello! Thank you for participating in our survey. We appreciate your time and input. Let's start by understanding a bit about your child's involvement in sports.
    </p>
    
    <%= link_to "Continue", chatbot_path, class: "w-full text-lg tracking-wide md:w-40 px-2 py-2 mx-auto mt-40 md:mt-20 border border-green-300 text-white bg-emerald-700 text-center rounded-md cursor-pointer" %>
  </section>
</div>
