/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.flex-1 {
    flex: 1;
}
  
html, body, .h-screen {
height: 100%;
margin: 0;
padding: 0;
}

#convoSection {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.typing-dots span {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    background-color: currentColor;
    border-radius: 50%;
    animation: wave 1.2s linear infinite;
}

.typing-dots span:nth-child(1) {
    animation-delay: 0s;
}

.typing-dots span:nth-child(2) {
    animation-delay: 0.2s;
}

.typing-dots span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes wave {
    0%, 60%, 100% {
        transform: initial;
    }
    30% {
        transform: translateY(-10px);
    }
}

.hidden-animation {
    display: none;
}